<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
<bean id="name1" class="ver2.Boy" />
<bean id="name2" class="ver2.Girl" />
<bean id="myAspect" class="ver2.MyAspect" />

<aop:config>
<aop:aspect ref="myAspect">
<aop:pointcut expression="execution(* make*())"
 id="myPoint"/>
 <aop:before method="beforeFood" pointcut-ref="myPoint"/>
 <aop:after-returning method="afterFood" pointcut-ref="myPoint"/>
 <aop:after-throwing method="foodFire" pointcut-ref="myPoint"/>
 <aop:after method="allFinished" pointcut-ref="myPoint"/>
</aop:aspect>
</aop:config>
</beans>
