<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dddd" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/spring" />
		<property name="username" value="root" />
		<property name="password" value="1234" />
	</bean>

	<bean id="ffff" class="org.mybatis.spring.SqlSessionFactoryBean">

		<property name="dataSource" ref="dddd" />
		<property name="typeAliasesPackage" value="vo" />
		<property name="mapperLocations" value="**/mapper/*.xml" />
	</bean>

	<bean id="tttt" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="ffff"></constructor-arg>

	</bean>

<bean id="dao" class="repository.BookDao">
<property name="template" ref="tttt" />
</bean>
</beans>
