<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.MemberMapper">
	<insert id="insertMem" parameterType="vo.MemberVO">
		insert into member_tb(member_id, member_pw, phone, email)
		values(#{memberId}, #{memberPw}, #{phone}, #{email})
	</insert>

	<update id="updateMem" parameterType="vo.MemberVO">
		update member_tb set member_pw=#{memberPw}, phone=#{phone}, email=#{email}
		where member_id=#{memberId}
	</update>

	<select id="selectMem" parameterType="String"
		resultMap="memberMap">
		select member_id, member_pw, phone, email from member_tb
		where member_id=#{memberId}
	</select>

	<resultMap type="vo.MemberVO" id="memberMap">
		<result column="member_id" property="memberId" />
		<result column="member_pw" property="memberPw" />
		<result column="phone" property="phone" />
		<result column="email" property="email" />
	</resultMap>
</mapper>