<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BookBoardMapper">

<insert id="insertBoard" parameterType="BookBoardVO">
  <!-- <selectKey keyProperty="bookb_num" resultType="int" order="BEFORE">
    select book_board_seq.nextval FROM DUAL
  </selectKey> 
   <selectKey keyProperty="write_date" resultType="java.util.Date" order="AFTER">
    select write_date FROM book_board WHERE bookb_num= #{bookb_num}
  </selectKey> -->
insert into BOOK_BOARD(bookb_num, writer, title, book_name, bb_code, content, write_date)
values(book_board_seq.NEXTVAL, #{writer}, #{title}, #{book_name}, #{bb_code}, #{content}, sysdate)
<selectKey order="AFTER" keyProperty="bookb_num" resultType="int">

			select book_board_seq.currval from dual

		</selectKey>
</insert>

<select id="selectBoard" resultMap="result">

select * from book_board where bookb_num=#{bookb_num}
</select>

<select id="selectBookBoardCount" resultType="int">
select count(*) from book_board where bb_code=#{bb_code}
</select>

<select id="selectBookBoardList" resultMap="result">
select bookb_num, writer, title, book_name, bb_code, content, write_date, bookb_ref, bookb_seq, bookb_level, readcount, recomment, opposite
from book_board order by bookb_num desc where bb_code=#{bb_code}
</select> 

<select id="selectBookBoardOnOnePage" resultMap="result">
select bookb_num, writer, title, book_name, content, readcount, to_char(sysdate, 'yyyy-mm-dd hh:mm:ss') as write_date 
from(
   select rownum as rnum, bookb_num, writer, title, book_name, content, readcount, write_date 
   from (
         select * from book_board where bb_code=#{bb_code} order by bookb_num desc
			)
		)where rnum&gt;=#{startRow} and rnum&lt;=#{viewRow}
</select>

<update id="newReadCount">
update book_board set readcount=readcount+1
		where bookb_num=#{bookb_num}
</update>

<select id="selectUpDown" resultMap="result">
	select recommend, opposite from book_board 
		where  bookb_num=#{bookb_num}
</select>

<update id="upRecommend" parameterType="int">
	update book_board set recommend=recommend+1
		where  bookb_num=#{bookb_num}
</update>

<update id="downOpposite" parameterType="int">
	update book_board set opposite=opposite+1
		where  bookb_num=#{bookb_num}
</update>

<update id="reRecommend" parameterType="int">
	update book_board set recommend=recommend-1
		where  bookb_num=#{bookb_num}
</update>

<update id="reOpposite" parameterType="int">
	update book_board set opposite=opposite-1
		where  bookb_num=#{bookb_num}
</update>

<insert id="insertUpdownFlag" parameterType="UpdownFlagVO">
	insert into updownflag
	values(updown_seq.nextval, #{flag_up}, #{flag_down}, #{nickname}, #{bookb_num}, #{bb_code}) 
</insert>

<select id="selectUpdownFlag" resultMap="updownflag">
	select * from updownflag
		where nickname=#{nickname} and bookb_num=#{bookb_num} and bb_code=#{bb_code}
</select>

<update id="updateUpdownFlag" parameterType="UpdownFlagVO">
	update updownflag set flag_up=#{flag_up}, flag_down=#{flag_down}
		where nickname=#{nickname} and bookb_num=#{bookb_num} and bb_code=#{bb_code}
</update>

<delete id="deleteUpdownFlag">
	delete from updownflag
		where flag_up=1 or flag_up=0
</delete>

<select id="selectBBName" resultType="String">
	select bb_name from book_code where bb_code=#{bb_code}
</select>

<resultMap type="BookBoardVO" id="result">
<result column="bookb_num" property="bookb_num"/>
<result column="writer" property="writer"/>
<result column="title" property="title"/>
<result column="book_name" property="book_name"/>
<result column="bb_code" property="bb_code"/>
<result column="content" property="content"/>
<result column="write_date" property="write_date"/>

<result column="bookb_ref" property="bookb_ref"/>
<result column="bookb_seq" property="bookb_seq"/>
<result column="bookb_level" property="bookb_level"/>
<result column="readcount" property="readcount"/>
<result column="recommend" property="recommend"/>
<result column="opposite" property="opposite"/>
</resultMap>

<resultMap type="UpdownFlagVO" id="updownflag">
<result column="updown_num" property="updown_num"/>
<result column="flag_up" property="flag_up"/>
<result column="flag_down" property="flag_down"/>
<result column="nickname" property="nickname"/>
<result column="bookb_num" property="bookb_num"/>
<result column="bb_code" property="bb_code"/>
</resultMap>

</mapper>