@charset "UTF-8";

#wrap{
	width:971px;
	margin:0;
	margin-left:auto;
	margin-right: auto;
}

h1{
	color:blue;
}

table{
	width:100%;
	border-collapse: collapse;
	font-size: 12px;
	line-height: 24px;
}

table td, th{
	border:#80ffff solid 1px;
	padding:5px;
}

th{
	background: #00e6e6;
	width:120px;
}

img{
	width: 220px;
	height: 300px;
}

a{
	text-decoration: none;
	color:black;
}

a:hover {
	text-decoration: underline;
	color:blue;
}