@charset "UTF-8";
body {
 font-size: 9pt;
 color: black;
 line-height: 160%;
 font-family:;
}
td {
 font-size: 9pt;
 color: black;
 line-height: 160%;
 font-family:;
}
select {
 font-size: 9pt;
 color: black;
 line-height: 160%;
 font-family:;
}
div {
 font-size: 9pt;
 color: black;
 line-height: 160%;
 font-family:;
}
form {
 font-size: 9pt;
 color: black;
 line-height: 160%;
 font-family:;
}
textarea {
 border-right: 1px solid #999999;
 border-top: 1px solid #999999;
 border-left: 1px solid #999999;
 border-bottom:1px solid #999999;
 color: black;
 font-family:;
 background-color: white;
}
a:link {
 text-decoration: none;
 color: #696969;
}
a:hover{
 text-decoration: yes;
 color: #66ccff;
}
a:visited{
 text-decoration: none;
 color: #330066;
}

 