<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.CakeMapper">
	<insert id="mapper_insert" parameterType="CakeVO" 
	useGeneratedKeys="true" keyProperty="pNum" >
	insert into cake(name, stock, price, exDate, details)
	values(#{name}, #{stock}, #{price}, #{exDate}, #{details})
	</insert>

	<select id="mapper_select_one" resultMap="result">
	select * from cake where pNum=#{pNum}
	</select>

	<select id="mapper_select_all" resultMap="result">
	select * from cake 
	</select>
	
	<update id="mapper_update">
	update cake set name=#{name}, stock=#{stock}, price=#{price}, 
	exDate=#{exDate}, details=#{details} where pNum=#{pNum} 
	</update>
	
	<delete id="mapper_delete">
	delete from cake where pNum=#{pNum}
	</delete>
	
	
	<resultMap type="CakeVO" id="result">
	<result column="pNum" property="pNum"/>
	<result column="name" property="name"/>
	<result column="stock" property="stock"/>
	<result column="price" property="price"/>
	<result column="exDate" property="exDate"/>
	<result column="details" property="details"/>
	</resultMap>
</mapper>